@using Metronome.Api.Models.MemberViewModels
@model LoginFormModel

    <div class="form-container">
        <div>
            @if (!ViewContext.ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All"></div>
            }
        </div>
        <form asp-controller="Auth" asp-action="Login" method="post">
            <div>
                <span asp-validation-for="Email"></span>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>

            <div>
                <span asp-validation-for="Password"></span>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
            </div>

            <div>
                <input type="submit" value="Se connecter" />
            </div>
        </form>
        <a asp-action="Register">Créer un nouveau compte</a>
    </div>