@using Metronome.Api.Models.MemberViewModels
@model RegisterFormModel

    <div class="form-container">

        <form asp-controller="Auth" asp-action="Register" method="post">
            <div>
                <span asp-validation-for="Email"></span>
                <label asp-for="Email">Email :</label>
                <input asp-for="Email" />
            </div>

            <div>
                <span asp-validation-for="Password">Password :</span>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
            </div>

            <div>
                <span asp-validation-for="RepeatPassword">Repeat Password :</span>
                <label asp-for="RepeatPassword"></label>
                <input asp-for="RepeatPassword" />
            </div>

            <div>
                <input type="submit" value="S'enregistrer" />
            </div>
        </form>

        <a asp-action="Login">J'ai déjà un compte !</a>
    </div>