
/*==================================
    APP-CONTAINER
==================================*/

body, #APP-CONTAINER
{
    background-color    : #001025;
}

/*==================================

====================================
    MAIN COLORS
====================================

    DarkBlue ( Background )  : 001025
    Grey ( Fore )   : 334051
    Yellow          : FF981A
    Pink            : FF009F
    Purple          : 7C0088
    LightBlue       : 008DFE
    Cyan            : 00C2C2
    ratp            : 009779

==================================*/