@keyframes fade-in
{
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes fade-out
{
    0%      { opacity: 1; }
    100%    { opacity: 0; }
}

@keyframes view-index-button-start
{
    0%      { left: -0px; opacity: 0; }
    5%    { left: -0px; opacity: 1; }
    100%    { left: calc( 100% - 6.6667vh + 6px ); opacity: 1; }
}

@keyframes bouncy
{
     0%{margin-top:0em;}
     40%{margin-top:0em;}
     43%{margin-top:-20px;}
     46%{margin-top:0em;}
     48%{margin-top:-20px;}
     50%{margin-top:0em;}
     100%{margin-top:0em;}
} 