@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*
{
    margin:0px;
    padding:0px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

button{ border:0px; }
body{ background-color:#00060e; background-image:linear-gradient(to bottom, #00060e 95%,#003040); min-height:100vh; }
#app{ width:100%; }